/*
 *  App.css
 *  ==================================
 *  @author  Arslan Ali
 *  @email   shayansolutions@gmail.com
 */
.component-app {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
}
